<div id="container">
 <br>
 <br>
 <br>
 <br>
 <div id="my-profile">
   <h1>My profile</h1>
   
     <img class="photoProfile" src="<%= img %>"/>
   
   <h2>First name:
     <%= firstname %>
   </h2>
   <br>
   <h2>Last name:
     <%= lastname %>
   </h2>
   <br>
   <h2>Your description:
     <%= description %>
   </h2>
   <br>
   <h2>Email:
     <%= email %>
   </h2>
 </div>
 <div id="right-container">
   <div id="people-joining">
     <h1>People wanting to join your trips</h1>
   </div>
   <div id="my-trips">
     <h1>Your trips</h1>
   </div>
 </div>

</div>