<h1>Réservez des logements et des expériences uniques dans le monde entier.</h1>
<input id="myInput" type="search" onkeyup="myFunction()" class="search" placeholder="Search">



<div id="trips">

    <% trips.forEach(trip => { %>

        <li class="trips">
            <div class="show">
                <%= trip.title %>
                    <div src="" class="img" alt=""></div>
                    <br>
                    <br>
                    <%= trip.location %>
                        <%= trip.usr %>
                            <br>
            </div>
            <div>
                <%= trip.description %>
                    <%= moment(trip.startdate).format('DD-MM-YYYY') %>
                        <%= trip.activity %>

                            <br>
                            <br>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
            </div>

        </li>

        <% }) %>


</div>