<input id="myInput" type="search" onkeyup="myFunction()" class="search" placeholder="Search a trip destination">


<div id="trips">

    <% trips.forEach(trip => { %>
        <li class="trips">
            <div class="show">
                <div class="photoProfile">
                    <img src="<%= trip.tripPicture %>" alt="profile picture" />
                </div>
                <h1>

                    <%= trip.location %>
                </h1>


                <hr>
                <%= trip.usr %>



                    <hr>
                    <i>


                        <%= trip.description %>
                    </i>
                    <hr>
                    <i>

                        <%= moment(trip.startdate).format('DD-MM-YYYY') %>
                            <br>


                            <%= moment(trip.enddate).format('DD-MM-YYYY') %>
                    </i>
                    <hr>
                    <b>

                        <%= trip.activity %>
                    </b>
                    <hr>


                    <a href="#">Join trip</a>


            </div>
        </li>
        <% }) %>


</div>