<input id="myInput" type="search" onkeyup="myFunction()" class="search" placeholder="Search">

<select id="select">
    <option value="adventure">Adventure</option>
    <option value="music">Music</option>
    <option value="hiking">Hiking</option>
    <option value="museum">Museum</option>
</select>
<input type="date">
<input type="date">

<div id="trips">

    <% trips.forEach(trip => { %>

        <li class="trips">
            <div class="show">
                <%= trip.title %>
                    <div src="" class="img" alt=""></div>
                    <br>
                    <br>
                    <%= trip.location %>
                    <%= trip.usr %>
                        <br>
            </div>
            <div>
                <%= trip.description %>
                    <%= moment(trip.startdate).format('DD-MM-YYYY') %>
                        <%= trip.activity %>

                            <br>
                            <br>
                            <a href="triplink">Read More</a>
            </div>

        </li>

        <% }) %>

</div>



