<input id="myInput" type="search" onkeyup="myFunction()" class="search" placeholder="Search">

<select id="select">
    <option value="adventure">Adventure</option>
    <option value="music">Music</option>
    <option value="hiking">Hiking</option>
    <option value="museum">Museum</option>
</select>
<input type="date">
<input type="date">

<div id="trips">

    <% trips.forEach(trip => { %>

        <li class="trips">
            <div class="show">
                <%= trip.title %>
                    <div src="" class="img" alt=""></div>
                    <br>
                    <br>
                    <%= trip.location %>
                        <br>
            </div>
            <div>
                <%= trip.description %>
                    <%= trip.startdate %>
                        <%= trip.activity %>

                            <br>
                            <br>
                            <a href="triplink">Read More</a>
            </div>

        </li>

        <% }) %>

</div>



<!-- <script>
    function getSearchResult(str) {


    }

    function showResults(results) {

    }

    console.log(document.getElementById("search-bar"))
    document.getElementById("search-bar").  = (e) => {
        const searchString = e.target.value 
        const results = getSearchResult(searchString);
        showResults(results)

    }

</script> -->